.mobileDropdown {
  width: 150px;
  max-width: 250px;
  position: absolute;
  // left: 33px;
  right: 10px;
  top: 60px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 99;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);

  p {
    width: 100%;
    padding: 0.8rem 0.9rem;
    padding-left: 1.3rem;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      background-color: #f4f4f4;
    }
  }
}
