.tagsWrapper {
  padding: 0.5rem 0.4rem;

  padding-left: 2rem;
  text-align: center;
  border-radius: 100px;
  text-transform: capitalize;
  border: 1px solid #cccfd4;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    font-family: Segoe UI;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.8rem;
  }

  .statusIndicator {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e4033b;
    // margin-right: 1.5rem;
  }
}
