.sidebarContainer {
  overflow-y: auto;
  height: 90vh;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
  // width: 200px;
  &::-webkit-scrollbar {
    display: none;
  }

  .navItemWrapper {
    padding: 10px 20px;
    margin-top: 1.5rem;
    .navItemTop {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #27ae60;
      padding: 0.8rem 1.5rem;
      border-radius: 100px;
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.2px;
    }
  }

  .navItem {
    list-style-type: none;
    .navHeader {
      padding: 1rem 0.2rem;
      color: #647787;
      font-family: Segoe UI;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.7rem;
      padding: 10px 20px;
    }

    .navLink {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.7rem;
      padding: 0.7rem 0.2rem;
      padding: 10px;
      padding-left: 20px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      a {
        color: #647787;
        font-family: Segoe UI;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
      }
    }
    .active {
      border-left: 3px solid #1875f0;
      background-color: #e8f1fd;
    }
  }
}

@media (max-width: 1030px) {
  .sidebarContainer {
    display: none;
  }
}
