.navContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  .navBody {
    padding: 1.5rem 2.5rem;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(79, 79, 79, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .leftNavWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12rem;

    .logoWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.7rem;

      .fabars {
        display: none;
      }
    }

    .searchWrapper {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      input {
        height: 30px;
        border-radius: 4px;
        border: 0;
        outline: none;
        color: #979797;
        font-family: Segoe UI;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        // padding: 0.5rem 0.8rem;
        padding-left: 0.5rem;
      }
      // max-width: ;
      .searchIcon {
      }
    }
  }

  .rightNavWrapper {
    display: flex;
    align-items: center;
    gap: 3.5rem;

    a {
      color: #647787;
      font-family: Segoe UI;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
    svg {
      cursor: pointer;
    }
  }
}

@media (max-width: 1030px) {
  .navContainer {
    .leftNavWrapper {
      .logoWrapper {
        .fabars {
          display: block !important;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .navContainer {
    .leftNavWrapper {
      .searchWrapper {
        display: none;
      }
      .logoWrapper {
        .fabars {
          display: block !important;
        }
      }
    }
    .rightNavWrapper {
      a,
      svg {
        display: none;
      }
    }
  }
}
